<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <link rel="stylesheet" href="tailwind_v2.2.css" />
    <link rel="stylesheet" href="daisyui_v2.51.5.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="mellon-ext-single-user">
      <!-- header -->
      <div class="mellon-ext-header">
        <img class="mellon-logo" src="../public/assets/content-logo.png"
        alt="mellon-logo"" >
        <div class="mellon-extension-more">
          <img src="../public/assets/settings.svg" alt="mellon-settings"" > <img
          src="../public/assets/close.svg" alt="mellon-close"" >
        </div>
      </div>

      <!-- user head details -->
      <div class="mellon-ext-user-details">
        <h2>Cyndi Thomason</h2>
        <h3>President at bookskeep</h3>
        <div class="mellon-key-or-not">
          <img src="../public/assets/start.svg" alt="star" />
          <p>Connection (Not a Key Relationship)</p>
        </div>
        <button class="mellon-ext-btn btn btn-primary w-full">
          + Add Key Relationship
        </button>

        <div class="mellon-ext-sep mellon-user-section"></div>
      </div>

      <!-- user body details -->
      <div class="mellon-ext-user-details-body">
        <div class="mellon-body-detial-item">
          <p>Priority</p>
          <div class="mellon-ext-details-circles">
            <img src="../public/assets/circle.svg" alt="star" />
            <img src="../public/assets/circle.svg" alt="star" />
            <img src="../public/assets/circle.svg" alt="star" />
          </div>
        </div>
        <div class="mellon-body-detial-item">
          <p>Relationship Strength</p>
          <div class="mellon-ext-details-circles">
            <img src="../public/assets/circle.svg" alt="star" />
            <img src="../public/assets/circle.svg" alt="star" />
            <img src="../public/assets/circle.svg" alt="star" />
          </div>
        </div>
        <div class="mellon-body-detial-item">
          <p>Potential Intros</p>
          <div class="mellon-ext-details-circles">
            <img src="../public/assets/users.svg" alt="user" />
            <p>2</p>
          </div>
        </div>
        <div class="mellon-body-detial-item">
          <p>Mutual Connections</p>
          <div class="mellon-ext-details-circles">
            <p>14</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
