.clonegpt-wrapper {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 1.5rem 0.7rem;
  margin: 0;
  background-color: #202123;
  cursor: pointer;
  border-radius: 15px 0 0 15px;
  border: 1px solid #424242;
  border-right: none;

  &:hover {
    box-shadow: 0 0 10px 10px rgba(36, 36, 36, 0.224);
    opacity: 9;
  }

  img {
    width: 40px;
    height: auto;
  }
  .clonegpt-widget-icon {
    font-size: 23px;
    color: #fec204;
  }
}
