.clonegpt-home-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-family: "Urbanist", sans-serif;

  .clonegpt-feature-single {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 0.7rem;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 7px;
    padding: 0.7rem;
    cursor: pointer;

    &:hover {
      border-color: #fec204;
    }

    .clonegpt-desc {
      display: flex;
      flex-direction: column;
      gap: 1.2px;

      h3 {
        font-size: 15px;
        font-weight: 500;
        font-family: "Urbanist", sans-serif;
        line-height: 1;
        padding-bottom: 0.3rem;
      }
      p {
        font-size: 13px;
        font-weight: 300;
        font-family: "Urbanist", sans-serif;
        opacity: 0.7;
      }
    }
  }
}
.clonegpt-single-icon {
  font-size: 20px;
  color: rgb(216, 216, 216);
}
