.clonegpt-routes-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  padding: 0rem;
  margin: 0;
  background-color: #202123;
  border: 1px solid #424242;
  border-radius: 15px 0 0 15px;
  border-right: none;

  width: 270px;
  min-height: 450px;
  max-height: 70vh;
  height: 500px;

  color: white;
}
