.clonegpt-context-modules {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    color: rgba(142, 142, 160, 1);
  }

  .faded {
    opacity: 0.6;
    pointer-events: none;
  }

  .clonegpt-single-module {
    width: 100%;
    background-color: transparent;
    border: 1px solid #374151;
    border-radius: 7px;
    padding: 1rem;
    cursor: pointer;
    position: relative;

    display: grid;
    grid-template-columns: 15px 1fr;
    gap: 1rem;
    transition: all 0.1s ease-in;
    box-shadow: 0px 4px 0 0 #00000040;

    &:hover {
      background-color: #292b2d;
    }

    span {
      position: absolute;
      border-radius: 100px;
      font-weight: 500;
      padding: 4px 6px;
      line-height: 1;
      background: #fec204;
      top: 7px;
      right: 7px;
      font-size: 13px;
      color: black;
      z-index: 2;
    }

    .context-module-icon {
      font-size: 20px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        font-size: 13px;
        font-weight: 300;
        opacity: 0.7;
        line-height: 1.5;

        &:nth-child(1) {
          font-size: 15px;
          font-weight: 500;
          opacity: 1;
        }
      }
    }
  }
}

.clonegpt-single-module-screen {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-bordered {
      border: 1px solid #424242;
      background-color: transparent !important;
      border-radius: 0.5rem !important;
      font-size: 0.875rem !important;
      color: white;
    }

    .textarea {
      border: 1px solid #424242;
      color: white;
    }

    .clonegpt-field-group {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      p {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1;
        color: rgba(142, 142, 160, 1);
      }
    }
  }
}

.clonegpt-single-context-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .clonegpt-single-context-wraper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .clonegpt-single-context-wraper-head {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      align-items: center;
      justify-content: center;

      .clonegpt-single-context-wraper-icon-new {
        width: 70px;
        height: 70px;
        background-color: #27282b;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #374151;
      }
    }

    .clonegpt-single-context-icon {
      font-size: 35px;
      margin: 0 auto;

      svg {
        fill: white;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
      word-break: break-all;
    }
  }
}
.clonegpt-single-context-stats {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #27282b;
  border: 1px solid #374151;
  border-radius: 7px;
  padding: 1rem;
  gap: 0.7rem;

  h4 {
    font-weight: 600;
    font-size: 15px;
    color: white;
  }
  .clonegpt-single-context-page-line {
    width: auto;
    height: 1px;
    background-color: #374151;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      gap: 0.5rem;

      font-size: 15px;
      font-weight: 500;
      color: #d1d5db;
      text-align: start;

      p {
        font-size: 15px;
        font-weight: 500;
        color: #d1d5db;
        text-align: start;
      }

      .clonegpt-source-link {
        color: #fec204;
        cursor: pointer;
      }
    }
    .clonegpt-more {
      line-height: 1;
      padding: 0.2rem 0.4rem;
      border: 1px solid #424242;
      border-radius: 10px;
      font-weight: 500;
      font-size: 0.75rem;
      color: rgba(142, 142, 160, 1);
      cursor: pointer;
      text-transform: lowercase;
      width: fit-content;
    }
  }
}
.clonegpt-single-context-actions {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

// loader
.clonegpt-loading-oncreation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;

  .clonegpt-single-loader-elm {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 0.5rem;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: 25px 1fr 25px;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &.active {
      border-color: #fec204;
    }

    .single-loader-icon {
      font-size: 18px;
      margin-left: 2px;

      &.active {
        color: #fec204;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
#clonegpt-loader-bottom {
  margin-top: 3rem;
  width: 0;
  height: 0;
  background-color: transparent;
}

.clonegpt-loader-container-skeleton {
  width: 100%;
  text-align: center;
}
.clonegpt-list-loader-container-skeleton {
  width: 100%;
}

.clonegpt-context-number {
  background-color: #fec204;
  color: white;
}

.clonegpt-shares-wrapper:nth-child(2) {
  margin-top: 0 !important;
}

.clonegpt-recent-shares {
  margin-top: 0;
  .clonegpt-single-recent-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem 0.4rem !important;
    border-radius: 7px;

    &:hover {
      background-color: #292b2d;
    }

    p {
      font-size: 16px !important;
      text-transform: capitalize;
      color: white !important;
      font-weight: 500;
    }

    .context-elements {
      display: flex;
      flex-direction: row;
      gap: 0.7rem;
      align-items: center;

      font-size: 20px;

      svg {
        fill: #d1d5db !important;
      }
    }
  }
}

.spinnerAndSwitcher {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: space-between;
}

.switcher {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
  border-radius: 10px;
  background: #202123;
  border: 1px solid #80808082;
  cursor: pointer;
}

.switcher.on {
  background-color: #fec204;
}

.switcher .toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f3f4f6;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switcher.on .slider {
  background-color: #202123;
  transform: translateX(13px);
}

.clonegpt-field-group .select {
  border-color: rgb(66, 66, 66);
}

.clonegpt-some-modules-container {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #292b2d;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .clonegpt-some-modules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;

    .clonegpt-some-modules-container-pre {
      display: flex;
      flex-direction: column;
      gap: 7px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.coming-soon {
        cursor: default;

        svg {
          opacity: 0.7;
        }
      }

      .clonegpe-gpt-somemodules-item {
        width: 45px;
        height: 45px;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #202123;

        svg {
          font-size: 20px;
          fill: white;
        }
      }
      // .clone-gpt-more {
      //   background-color: #fec204;

      //   svg {
      //     fill: #202123;
      //   }
      // }

      p {
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0em;
        color: #e5e7eb;
      }
    }
  }
}

.clonegpt-filters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;
  gap: 5px;
  align-items: center;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #374151;

  form {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    font-size: 18px;

    svg {
      fill: white;
    }

    input {
      width: 100%;
      border: none;
      background-color: transparent;
      color: #6b7280;
      font-size: 13.5px;
      padding-left: 4px;

      &:focus {
        border: none !important;
      }
    }
  }
  .clonegpt-icons-conatiner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 40px;

    svg {
      font-size: 40px;
      fill: white;
      cursor: pointer;
    }
  }
}

.clonegpt-back-btn-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-size: 20px;

  p {
    font-size: 16px;
    color: white;
  }

  svg {
    fill: white;
    cursor: pointer;
  }
  .clonegpt-back-btn-info {
    font-size: 15px;
  }
}
