.clonegpt-context-modules {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    color: rgba(142, 142, 160, 1);
  }

  .faded {
    opacity: 0.6;
    pointer-events: none;
  }

  .clonegpt-single-module {
    width: 100%;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 7px;
    padding: 1rem;
    cursor: pointer;
    position: relative;

    display: grid;
    grid-template-columns: 15px 1fr;
    gap: 1rem;

    &:hover {
      background-color: #588cfe;
      box-shadow: 5px 5px 0 0 #fec204;
    }

    span {
      position: absolute;
      border-radius: 100px;
      font-weight: 500;
      padding: 2px 5px;
      line-height: 1;
      background: #fec204;
      top: 5px;
      right: 5px;
      font-size: 12px;
      color: black;
      z-index: 2;
    }

    .context-module-icon {
      font-size: 20px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        font-size: 13px;
        font-weight: 300;
        opacity: 0.7;
        line-height: 1.5;

        &:nth-child(1) {
          font-size: 15px;
          font-weight: 500;
          opacity: 1;
        }
      }
    }
  }
}

.clonegpt-single-module-screen {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-bordered {
      border: 1px solid #424242;
      background-color: transparent !important;
      border-radius: 0.5rem !important;
      font-size: 0.875rem !important;
      color: white;
    }

    .textarea {
      border: 1px solid #424242;
      color: white;
    }

    .clonegpt-field-group {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      p {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1;
        color: rgba(142, 142, 160, 1);
      }
    }
  }
}

.clonegpt-single-context-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .clonegpt-single-context-wraper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .clonegpt-single-context-icon {
      font-size: 40px;
      margin: 0 auto;
    }
    h3 {
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      text-transform: capitalize;
      word-break: break-all;
    }
    p {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.3;
      color: rgba(142, 142, 160, 1);
      text-align: center;
      word-break: break-all;

      span {
        line-height: 1;
        padding: 0.2rem 0.4rem;
        border: 1px solid #424242;
        border-radius: 10px;
        font-weight: 500;
        font-size: 0.75rem;
        color: rgba(142, 142, 160, 1);
        cursor: pointer;
      }
    }
  }
}
.clonegpt-single-context-stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  h4 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    color: rgba(142, 142, 160, 1);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1;
      color: white;
      text-transform: capitalize;

      span {
        color: #fec204;
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .clonegpt-more {
      line-height: 1;
      padding: 0.2rem 0.4rem;
      border: 1px solid #424242;
      border-radius: 10px;
      font-weight: 500;
      font-size: 0.75rem;
      color: rgba(142, 142, 160, 1);
      cursor: pointer;
      text-transform: lowercase;
      width: fit-content;
    }
  }
}
.clonegpt-single-context-actions {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

// loader
.clonegpt-loading-oncreation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;

  .clonegpt-single-loader-elm {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 0.5rem;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: 25px 1fr 25px;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &.active {
      border-color: #fec204;
    }

    .single-loader-icon {
      font-size: 18px;
      margin-left: 2px;

      &.active {
        color: #fec204;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
#clonegpt-loader-bottom {
  margin-top: 3rem;
  width: 0;
  height: 0;
  background-color: transparent;
}

.clonegpt-loader-container-skeleton {
  width: 100%;
  text-align: center;
}
.clonegpt-list-loader-container-skeleton {
  width: 100%;
}

.active-contexts {
  .clonegpt-single-recent-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.clonegpt-context-number {
  background-color: #fec204;
  color: white;
}

.clonegpt-recent-shares {
  .clonegpt-single-recent-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    button[data-state="checked"] {
      background-color: #fec204 !important;
    }

    .context-elements {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
