.clonegpt-header-wrapper {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  gap: 1rem;
  border-bottom: 1px solid #424242;
}
.clonegpt-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  gap: 3px;
  width: 100%;
  img {
    width: 35px;
    height: auto;
  }

  p {
    font-size: 22px;
    font-weight: 400;
    font-family: "Urbanist", sans-serif;
    line-height: 1.2;
  }
}
.clonegpt-widget-icon-close {
  font-size: 25px;
  cursor: pointer;
  color: #e7e7e7;
  margin-right: 0.7rem;
}

.clonegpt-footer-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: #202123;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.205);
  padding: 1rem 0.2rem;
  border-radius: 15px 0 0 15px;

  position: absolute;
  bottom: 0;

  .clonegpt-footer-elm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: #cf046b;
    }
    &.active {
      color: #cf046b;
    }

    p {
      font-size: 14px;
      font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
        "Liberation Mono", monospace !important;
      margin: 0;
    }
  }
}
