.clonegpt-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
}
.clonegpt-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3px;

  img {
    width: 40;
    height: auto;
  }

  p {
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fbbb00;
  }
}
.clonegpt-widget-icon-close {
  font-size: 20px;
  cursor: pointer;
  color: #e7e7e7;
  // margin-right: 0.7rem;
}
.clonegpt-widget-icon-close.close {
  font-size: 28px;
}
.clonegpt-header-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.clonegpt-line-separator {
  width: auto;
  height: 1px;
  background-color: #374151;
  margin: 0 1.5rem;
}
